.body-class{
    margin: 20px;
    padding: 10px;
    font-family:Georgia;
}
.header{
   color: brown;

}
#header{
    display: flex;
    justify-content: space-between;
}
#address{
    font-size: 18px;
    color: gray;
}

#name{
    font-size: 35px;
}
#designation{
    font-size: 25px;
    color: rgb(94, 71, 71);   
}
#contact{
    background-color: rgba(105, 105, 105, 0.507); 
    display: flex;
    height: 30px;   
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.fa-solid{
    color: rgba(255, 0, 0, 0.644);
}
.fa-brands{
    color: rgba(255, 0, 0, 0.705);
}

.knowlwedge_management{
    display: flex;
    margin-bottom: 5px;
    justify-content: space-between;
   
}
.knowledge_half{
    flex: -1;
    padding: 10px;
}
.work_name{
    font-size: 20px;
    font-weight: 1000;
}
.work_company{
    font-size: 17px;
}
.duration{
    color: rgb(105, 105, 105);
}
table,th,tr,td{
    border: 2px solid;
    border-collapse: collapse;
}
.footer{
    text-align: center;
    padding-top: 20px;
    color: rgb(105, 105, 105);
}
a{
    text-decoration: none;
   
}



